<div class="container">
  <h1>PDF Generation Status</h1>
  <% if @pdf_path.present? %>
    <p>Your PDF is ready:</p>
    <a href="<%= @pdf_path %>" target="_blank" class="link">Download PDF</a>
  <% else %>
    <p>Your PDF is being generated. Please refresh this page later.</p>
  <% end %>
  <%= link_to 'Back', pdfs_path, class: 'link' %>
</div>
